body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    user-select: none;
    background: #91ddf8; 
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.qr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0.2, 0.2, 0.2, 0.2);
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 350px;
    margin: 5%;
    
}

.qr-code img {
    max-width: 100%;
    height: auto;
}

.payment-info {
    margin-top: 20px;
    text-align: center;
}

.upi-id-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; 
}

.payment-info strong {
    color: #007bff;
    user-select: text;
    display: inline-block;
    margin-right: 10px;
}

.copy-button {
    display: inline-block;
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    height: min-content;
    cursor: pointer;
}

* {
    -webkit-tap-highlight-color: transparent;
}

.upi-icon {
    width: 40px;
    height: auto;
    margin-top: 10px;
}

.toggle-payment {
    margin-top: 15px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.toggle-payment:hover {
    text-decoration: underline;
}

#watermark::after {
    content: "Made with ❤️ by Inulute";
    position: fixed;
    bottom: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.2); /* Semi-transparent */
    font-size: 12px;
    z-index: 9999;
    pointer-events: none;
}
